# Editor temp files
*.swp

# Prerequisites
*.d

# Compiled Object files
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.a

# Project specific: generates executable
game
test_game_math
glm_test
